.cart-item {
  position: relative;
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
}

.remove-item-icon {
  position: absolute;
  top: 10px;
  right: 0;
}
.cart-container{
  border-bottom: 1px solid #A7A7A7;

}

.cart-header{
font-weight: 700;
font-size: 40px;
line-height: 130%;
letter-spacing: 0.03em;
display: flex;
margin: 20px;
}

.breadcrumps{
font-weight: 500;
font-size: 16px;
line-height: 130%;
margin: 20px;
display: flex;
justify-content: space-between;
align-items: center
}

.breadcrumps p{
font-weight: 500;
font-size: 20px;
line-height: 130%;
}

.description{
font-weight: 600;
font-size: 15px;
line-height: 130%;
margin: 18px;
letter-spacing: 0.03em;
}

.cart-item-count{
box-sizing: border-box;
width: 140px;
height: 40px;
left: 251px;
top: 461px;
border: 1px solid #000000;
border-radius: 12px;
}

.cart-item-prices{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  border: 20px;
}

.new-price{
font-weight: 600;
font-size: 40px;
line-height: 130%;
margin-right: 30px;
letter-spacing: 0.03em;
}

.old-price{
  font-weight: 500;
font-size: 20px;
line-height: 130%;
letter-spacing: 0.03em;
text-decoration-line: line-through;
color: #8B8B8B;
}

.cart-info{
box-sizing: border-box;
position: absolute;
width: 496px;
height: 393px;
left: 914px;
top: 298px;
border: 2px solid #000000;
border-radius: 21px;
}

.cart-info h4{
top: 20px;
margin: 20px;
font-weight: 600;
font-size: 28px;
line-height: 130%;

letter-spacing: 0.03em;
}

.cart-info-sum{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
font-size: 32px;
line-height: 130%;
letter-spacing: 0.03em;
display: flex;
  justify-content: flex-end;
}

.btn-order{
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
  line-height: 130%;
  align-items: center;
  background: #339933;
  border: 2px solid #339933;
  border-radius: 10px;
  cursor: pointer;
  font-style: normal;
  width: 400px;
  height: 86px;
  
}

.phone-number{
  box-sizing: border-box;
  width: 446px;
  height: 73px;
  left: 939px;
  top: 492px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 20px;
  
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-top: 15px;
  letter-spacing: 0.03em;
  
  color: #929292;
  }



