.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-list {
  flex: 0 0 65%;
}

.cart-info {
  flex: 0 0 30%;
  margin-top: 62px;
}

.cart-item {
  position: relative;
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a7a7a7;
  padding: 15px;
  align-items: center;
}

.cart-item-iamge img {
  display: block;
  width: 100%;
  height: 100%;
}

.remove-item-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.cart-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  display: flex;
  margin: 20px;
}

.cart-breadcrumps {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a7a7a7;
}

.breadcrumps p {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.description {
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  margin: 18px;
  letter-spacing: 0.03em;
}

.cart-item-count {
  display: flex;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 16px;
  width: 88px;
  padding: 6px;
}

.cart-item-count input {
  width: 40px;
  border: none;
}

.cart-item-count button {
  background: transparent;
  border: none;
}

.cart-item-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  border: 20px;
}

.new-price {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  margin-right: 30px;
  letter-spacing: 0.03em;
}

.old-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-decoration-line: line-through;
  color: #8b8b8b;
}

.cart-info {
  border: 2px solid #000000;
  border-radius: 21px;
  padding: 15px;
  margin-right: 15px;
}

.cart-info h4 {
  margin: 10px 0 25px;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.03em;
}

.cart-info-sum {
  display: flex;
  justify-content: space-between;
}

.cart-info-sum .total-price-desc {
  font-size: 20px;
}

.cart-info-sum .total-price {
  font-size: 26px;
  font-weight: 600;
}

.btn-order {
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  align-items: center;
  background: #339933;
  border: 2px solid #339933;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px 10px;
}

.phone-number {
  width: 95%;
  padding: 15px 10px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin: 25px 0 15px;
  letter-spacing: 0.03em;
  color: #929292;
}
