.navigation {
  display: flex;
  margin: 30px 20px 10px;
}

.navigation-from {
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #acacac;
  width: 90px;
  margin: 0 10px 0 15px;
  padding: 6px;
}

.navigation-to {
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #acacac;
  width: 90px;
  padding: 6px;
}

.instruments-title {
  margin-left: 50px;
  font-size: 40px;
}

.range,
.instruments-discount,
.sort {
  display: flex;
  width: auto;
  align-items: center;
}

.instruments-discount p,
.price,
.sort-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.instruments-discount,
.sort-item {
  margin-left: 50px;
}

.checkbox-discount {
  width: 36px;
  height: 36px;
  margin-left: 10px;
}

.select-sort {
  border-radius: 8px;
  margin-left: 15px;
  padding: 10px;
  width: 170px;
}

.instruments {
  display: flex;
  flex-wrap: wrap;
}

.instrument-item {
  cursor: pointer;
  flex: 1 1 25%;
  position: relative;
}

.add-to-cart {
  position: absolute;
  top: 20%;
  cursor: pointer;
}
