.navigation {
  display: flex;
  justify-content: space-between;
}

.range {
  display: flex;
}

.instruments {
  display: flex;
  flex-wrap: wrap;
}

.instrument-item {
  cursor: pointer;
  flex: 1 1 25%;
}

.instrument-image {
  position: relative;
}

.add-to-cart {
  position: absolute;
}
