.categories {
  flex: 1 1 50%;
}

.categories-header {
  display: flex;
  align-items: center;
  padding: 15px 30px 20px 30px;
}

.categories-header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

.categories-btn {
  margin-left: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8b8b8b;
  background-color: transparent;
  border: 2px solid #8b8b8b;
  padding: 5px 10px;
  cursor: pointer;
}

.categories-images {
  display: flex;
  justify-content: space-between;
}

.categories-images .category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.categories-images .category-item img {
  width: 70%;
  display: block;
  height: 70%;
}

.categories-images .category-item p {
  margin-top: 20px;
}
